.slider-container {
    height: 800px;
    background-image: url("../../../public/slider/zombiesharp.png");
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 0.3s;
    display: flex;
    align-items: center;
}

.slider-btn-previous, .slider-btn-next {
    display: block;
    text-align: center;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.322);
    border-style: none;
    max-height: 82px;
    position: absolute;
    color: white;
    margin: 0;
    padding: 10px 15px 25px 15px;
}

.slider-btn-previous:hover, .slider-btn-next:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.699);
}

.slider-btn-previous:active, .slider-btn-next:active {
    cursor: pointer;
    background-color: rgb(0, 0, 0);
}

.slider-btn-next {
    right: 0px;
}

.slider-btn-previous {
    left: 0px;
}

.slider-info {
    height: 800px;
}

.slider-info {
    overflow: hidden;
    margin: 0;
    transition: opacity 0.3s;
}

.zombie-info-container {
    width: 650px;
    padding-left: 240px;
    padding-top: 220px;
}

.zombie-header, .github-header {
    color: white;
    font-size: 60px;
    text-shadow: 4px 4px 9px rgba(0,0,0,0.3);
}

.zombie-para, .github-para {
    color: white;
    font-size: 30px;
    text-shadow: 4px 4px 9px rgba(0,0,0,0.8);
}

.slider-controller {
    position: absolute;
    margin-left: 47%;
    margin-right: 50%;
    margin-top: -5%;
}

.zombie-button, .github-button {
    border-style: none;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.726);
    color: white;
    margin-right: 12px;
    padding: 24px 20px 24px 20px;
    font-size: 24px;
    transition: background-color 0.2s;
}

.zombie-button:hover, .github-button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.952);
}

.zombie-button:active, .github-button:active {
    background-color: white;
    cursor: pointer;
    color:black;
    text-decoration: underline;
}

.github-info-container {
    padding-top: 10%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

@media screen and (max-width: 927px) {
    .slider-container {
        display: flex;
        justify-content: center;
    }

    .slider-header {
        margin-bottom: 0px;
    }
    .zombie-info-container {
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }
}

@media screen and (max-width: 660px) {
    .zombie-info-container, .github-info-container {
        width: 80%;
        padding-top: 80px;
    }

    .slider-container, .slider-info {
        height: 500px;
    }

    .zombie-header, .github-header {
        font-size: 40px;
    }
    
    .zombie-para, .github-para {
        font-size: 20px;
    }
    
    .zombie-button, .github-button {
        margin-right: 6px;
        margin-bottom: 6px;
        font-size: 20px;
        padding: 18px 12px 18px 12px;
    }
}

